In [6]:
import pandas as pd
from functools import reduce
dfs=pd.DataFrame({
    'SizeOfHouse':['30*40','20*40','20*13','30*70','30*70'],
    'Price':[1900000,1500000,800000,2000000,3500000],
    'Gender':['Male','Male','Female','Female','Male'],
    'Gender':[0,0,1,1,0],
    'Occupation':['itempoly','cardriver','Hotel manger','eng','banker' ],
    'Age':[45,38,40,31,49],
    'Type of the House':['aparetment','townhouse','villa','farmhouse','Individual'],
    'No of Rooms':[3,2,2,3,4]
},index=[1,2,3,4,5])
print(dfs)
print("Mapping")
def greater_than(n):
    return n>1500000
print(dfs['Type of the House'].map({'Individual':'4','villa':'2','farmhouse':'3'}))
filtering=list(filter(lambda x:greater_than(x),dfs['Price']))
print(filtering)
#redcol=reduce(lambda x,y:x['Male']+y['Female']==sum(y),dfs['Gender'])

  SizeOfHouse    Price  Gender    Occupation  Age Type of the House  \
1       30*40  1900000       0      itempoly   45        aparetment
2       20*40  1500000       0     cardriver   38         townhouse
3       20*13   800000       1  Hotel manger   40             villa
4       30*70  2000000       1           eng   31         farmhouse
5       30*70  3500000       0        banker   49        Individual

   No of Rooms
1            3
2            2
3            2
4            3
5            4
Mapping
1    NaN
2    NaN
3      2
4      3
5      4
Name: Type of the House, dtype: object
[1900000, 2000000, 3500000]